# Data Science for Good: City of Los Angeles

## Import Packages

In [53]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import re
import xml.etree.ElementTree as ET
import zipfile

import os
print(os.listdir("../input"))

['cityofla']

In [54]:
bulletin_dir = "../input/cityofla/CityofLA/Job Bulletins"
addl_data_dir="../input/cityofla/CityofLA/Additional data"

## CSV viewing from Additional data

### Let's check sample job class export template.csv

In [55]:
sample_job_template = pd.read_csv(os.path.join(addl_data_dir, 'sample job class export template.csv'))
sample_job_template

                         FILE_NAME    ...    OPEN_DATE
0  SYSTEMS ANALYST 1596 102717.txt    ...     10/27/17
1  SYSTEMS ANALYST 1596 102717.txt    ...     10/27/17
2  SYSTEMS ANALYST 1596 102717.txt    ...     10/27/17
3  SYSTEMS ANALYST 1596 102717.txt    ...     10/27/17
4  SYSTEMS ANALYST 1596 102717.txt    ...     10/27/17

[5 rows x 25 columns]

### Let's check kaggle_data_dictionary.csv file

In [56]:
data_dictionary = pd.read_csv(os.path.join(addl_data_dir, 'kaggle_data_dictionary.csv'))
data_dictionary.head()

              Field Name                        ...                                                           Additional Notes
0              FILE_NAME                        ...                                                                        NaN
1        JOB_CLASS_TITLE                        ...                                                                        NaN
2           JOB_CLASS_NO                        ...                          Some classes have three non-zero digits — e.g....
3     REQUIREMENT_SET_ID                        ...                                                                        NaN
4  REQUIREMENT_SUBSET_ID                        ...                          A-Z represents 1-26. In the case of 27th, 28th...

[5 rows x 7 columns]

## Job titles listing:

In [57]:

job_titles = pd.read_csv(os.path.join(addl_data_dir, 'job_titles.csv'), names=['JOB TITLES'])
job_titles.head()

                      JOB TITLES
0                   311 DIRECTOR
1                     ACCOUNTANT
2               ACCOUNTING CLERK
3  ACCOUNTING RECORDS SUPERVISOR
4         ADMINISTRATIVE ANALYST

## Iterate over Job Bulletins directory

### No of files in Job Bulletins Folder

In [58]:
job_files = os.listdir(bulletin_dir)
print("No of files in Job Bulletins Folder:",len(job_files))

No of files in Job Bulletins Folder: 683

### Lets display a single file

In [59]:
with open(bulletin_dir+"/"+job_files[0]) as file:
    print("File name: ",file.name)
    print("=====================================")
    print(file.read())

File name:  ../input/cityofla/CityofLA/Job Bulletins/WATER SERVICE REPRESENTATIVE 1693 111717.txt
=====================================
WATER SERVICE REPRESENTATIVE
Class Code:       1693
Open Date:  11-17-17
(Exam Open to Current City Employees)

ANNUAL SALARY

$70,177 to $87,194 and $74,750 to $92,895
Candidates from the eligible list are normally appointed to vacancies in the lower pay grade positions.

NOTES:

1. For information regarding reciprocity between the City of Los Angeles departments and LADWP, go to http://per.lacity.org/Reciprocity_CityDepts_and_DWP.pdf.
2. Annual salary is at the start of the pay range. The current salary range is subject to change. Please confirm the starting salary with the hiring department before accepting a job offer.


DUTIES

A Water Service Representative makes field investigations to determine water service requirements; advises and consults with customers or their representatives in the office, on the telephone or in the field regarding water service requirements, agreements, problems, irregularities, and complaints; determines and collects applicable charges and rates; issues field orders; and arranges for temporary services.

REQUIREMENT/MINIMUM QUALIFICATION

Three years of full-time paid experience in a class at the level of Customer Service Representative performing public contact work providing water related services; calculating utility fees and charges and collecting money from the public; or providing data and information pertaining to water facility installations, water services and meters, and charges collected.

Education from an accredited college or university may be substituted on a year-for-year basis for up to two years of the required experience (one year of college education is equivalent to 30 semester or 45 quarter units).

PROCESS NOTES

1. Applicants who lack six months or less of the required experience may file for this examination.  However, they cannot be appointed until the full experience requirement is met.
2. A valid California driver's license is required. Applicants will be disqualified and not eligible for hire if their record within the last 36 months reflects three or more moving violations and/or at-fault accidents, or a conviction of a major moving violation (such as a DUI).
3. Please note that qualifying education must be from a college or university accredited by a City of Los Angeles recognized agency. A list of approved accrediting agencies can be found at http://per.lacity.org/Accredited%20Institutions%2008-21-08.pdf.

SELECTIVE CERTIFICATION

In accordance with Charter Section 1010 (b) and Civil Service Rule 5.31, selective certification will be used for some positions that require special skills and/or training in one or more of the following areas. Only persons possessing the following as of the close of the filing period may be certified in order of standing on the eligible list to fill such positions:

The ability to speak or write a language other than English. Proficiency in Spanish is required for some positions.


WHERE TO APPLY

Applications will only be accepted on-line. When you are viewing the on-line job bulletin of your choice, simply scroll to the top of the page and select the "Apply" icon. On-line job bulletins are also available at https://www.governmentjobs.com/careers/lacity/promotionaljobs for Promotional Examinations.

NOTE:

Applicants are urged to apply early to ensure you have time to resolve any technical issues you may encounter.


APPLICATION DEADLINE

Applications must be received by THURSDAY, NOVEMBER 30, 2017.


SELECTION PROCESS

After meeting minimum qualifications, candidates will be scheduled for the following:

Examination Weight:  Written Test . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .100%

This examination will consist entirely of a multiple-choice written test. In the written test, candidates may be examined for knowledge of: ordinances, rules, regulations, policies, and procedures concerning water rates, water quality, business arrangements required to install or adjust water facilities; organization and functions of the Department of Water and Power; physical requirements such as locations, sizes, and pressures to provide water service for residential, commercial, industrial, and construction projects; cross-connection control principles and mechanical principles of hydraulics as related to backflow prevention; principles, practices, and regulations concerning recycled water; principles and practices of water conservation; general accounting principles and procedures; word processing and spreadsheet software; principles and techniques of effective written communication; office procedures and practices; pertinent City and Personnel Department rules, policies, and procedures; and the ability to read and interpret maps, plot plans, and legal descriptions; perform mathematical calculations including area and distances from construction drawings and maps; access computer programs for information pertaining to water service; prepare and maintain records, correspondence, agreements, and reports; communicate orally on a one-to-one basis; deal tactfully and effectively with the public, management, and others; and other necessary skills, knowledge, and abilities.

Candidates will be notified later by e-mail of the time and location of the written test, which will be administered in a single half-day session on SATURDAY, JANUARY 20, 2018 in Los Angeles.

NOTES:

1. This examination is based on a validation study, and as provided by Civil Service Commission Rule 4.20, the written test will not be subject to candidate inspection.
2. As a covered entity under the Fair Employment and Housing Act and Title II of the Americans with Disabilities Act, the City of Los Angeles does not discriminate on the basis of disability and upon request, will provide reasonable accommodations to ensure equal access to its programs, services, and activities.  To request a disability accommodation, please complete the Disability Accommodation Form within 14 calendar days of the submittal of the City application.  The Disability Accommodation Form can be obtained at http://per.lacity.org/exams/verify_disability.pdf.
3. Applications are accepted subject to review to ensure that minimum qualifications are met.  Candidates may be disqualified at any time if it is determined that they do not possess the minimum qualifications stated on this bulletin.
4. A final average score of 70% is required to be placed on the eligible list.
5. You must have received a regular appointment to a City position or be on a reserve list to file on a promotional basis.
6. Seniority credit at the rate of 0.25 of a point for each year of continuous service will be added to the weighted test score of each candidate.
7. In accordance with Civil Service Rule, Sec. 4.24, review periods may be combined. Candidates in the examination process may file protests as provided in Sec. 4.20, 4.22 and 4.23 as applicable and within the required time frame; however, the Personnel Department may respond to and resolve protests prior to the establishment of the eligible list.

THIS EXAMINATION IS TO BE GIVEN ONLY
ON AN INTERDEPARTMENTAL PROMOTIONAL BASIS

The City of Los Angeles does not discriminate on the basis of race, religion, national origin, sex, age, marital status, sexual orientation, gender identity, gender expression, disability, creed, color, ancestry, medical condition (cancer), or Acquired Immune Deficiency Syndrome.
Class Code 1693 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . 11-17-17

Class Code 1693. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .08-01-03

AN EQUAL EMPLOYMENT OPPORTUNITY EMPLOYER
For additional information and FAQs regarding the City's hiring process, please go to: http://per.lacity.org/index.cfm?content=employmenttestingprocess

In [75]:
# Code from the starter kernel to iterate over Job Bulletins directory
data_list = []
for filename in os.listdir(bulletin_dir):
    with open(bulletin_dir + "/" + filename, 'r', errors='ignore') as f:
        for line in f.readlines():
            #Insert code to parse job bulletins
            if "Class Code:" in line:
                class_code=line.split("Class Code:")[1].split("Open Date")[0].strip()
            if "Open Date:" in line:
                job_bulletin_date = line.split("Open Date:")[1].split("(")[0].strip()
#             if "ANNUAL SALARY" in line:
#                 annual_salary  = line.split("ANNUAL SALARY")[1].split("NOTES")[0].strip()
#                 annual_salary =re .split(r'\r\n|\r|\n', annual_salary, flags=re.M)[0].strip()
        data_list.append([filename,class_code,job_bulletin_date])

In [71]:
# Form a DataFrame 
df = pd.DataFrame(data_list)
df.columns = ["FILE_NAME","CLASS_CODE","OPEN_DATE"]
df.head()

                                           FILE_NAME      ...      ANNUAL_SALARY
0       WATER SERVICE REPRESENTATIVE 1693 111717.txt      ...
1  HARBOR PLANNING AND ECONOMIC ANALYST 9224 1118...      ...
2  MANAGING WATER UTILITY ENGINEER 9406 032417 RE...      ...
3   VETERINARY TECHNICIAN 2369 020599 REV 120417.txt      ...
4  SENIOR UTILITY SERVICES SPECIALIST 3573 113018...      ...

[5 rows x 4 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 4 columns):
FILE_NAME        683 non-null object
CLASS_CODE       683 non-null object
OPEN_DATE        683 non-null object
ANNUAL_SALARY    683 non-null object
dtypes: object(4)
memory usage: 21.4+ KB

> ### Let's convert `OPEN_DATE` to `DATETIME`

In [63]:
df.OPEN_DATE = pd.to_datetime(df.OPEN_DATE)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 4 columns):
FILE_NAME        683 non-null object
CLASS_CODE       683 non-null object
OPEN_DATE        683 non-null datetime64[ns]
ANNUAL_SALARY    683 non-null object
dtypes: datetime64[ns](1), object(3)
memory usage: 21.4+ KB

In [65]:
df.tail()

                                            FILE_NAME      ...      ANNUAL_SALARY
678                PLUMBER SUPERVISOR 3446 100518.txt      ...
679              PRINCIPAL ACCOUNTANT 1525 121517.txt      ...
680    HELICOPTER MECHANIC 3742 072206 REV 020818.txt      ...
681  PRINCIPAL ENVIRONMENTAL ENGINEER 7875 092118.txt      ...
682    SENIOR ELECTRICIAN  3864 102116 Rev 110216.txt      ...

[5 rows x 4 columns]

## Convert to CSV

In [66]:
df.to_csv("job_bulletins.csv",index= False)

In [67]:
job_df = pd.read_csv("job_bulletins.csv")
job_df.head()

   Unnamed: 0      ...      ANNUAL_SALARY
0           0      ...                NaN
1           1      ...                NaN
2           2      ...                NaN
3           3      ...                NaN
4           4      ...                NaN

[5 rows x 5 columns]